body {
	font-family: sans-serif;
	margin: 1em auto 1em auto;
	width: 55em;
}


h1 {
	font-size: 130%;
}

h2 {
	font-size: 115%;
}

h3 {
	font-size: 107%;
}

h2, h3 {
	margin: 0 0 0.2em 0;
	padding: 0.2em;
	border-width: 0 0 1px 0;
	border-style: dotted;
	border-color: #AAAACC;
}

