html, body {
	font-family: sans-serif;
	margin: 1em auto 1em auto;
	width: 55em;
  height: 100%;
  background: white url('/image/bigtree.jpg') no-repeat fixed;
  overflow: none;
}


div.rightshift {
  float: right;
  width: 30%;
}



div.leftshift {
  float: left;
  clear: left;
  width: 20%;
}


div.interior {
  margin: 1em;
}

div.reference {
  font-size: 80%;
}

div.reference a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.post {
  padding: 1em 1em 1em 1em;
}

div.post span.date {
  font-size: 0.8em;
  color: #D0D0D0;
}



div.project a, div.resource a {
  display: block;
  float: left;
  clear: both;
  margin-left: 5%;
  width: 20%;
}


div.contentblock {
  border-style: dotted;
  border-color: #D0D0D0;
  border-width: 1px 1px 1px 1px;
  padding: 0;
  margin: 0.2em;
}

div.metablock {
  border-style: dotted;
  border-color: #D0D0D0;
  border-width: 1px 1px 1px 1px;
  padding: 0;
  margin: 0.2em;
  font-size: 80%;

  opacity: 0.7;
  filter:alpha(opacity=70);
  -moz-opacity:0.7;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  -khtml-opacity: 0.7;
  -ms-filter: “progid:DXImageTransform.Microsoft.Alpha(Opacity=70)”;

}


div#content {
  overflow: auto;
  margin: 0 auto 3em;
}

div#footer {
  height: 3em;
  background-color: white;
  width: 100%;
}

ul#contact li {
  display: block;
  float: left;
  margin: 0em 1em 0em 1em;
}

