
span.date {
  font-weight: 200%;
  display: block;
  float: left;
  clear: left;
}

span.name {
  font-weight: 200%;
  font-style: italic;
}

span.title {
  font-weight: 200%;
}

div.description {
  float: left;
  clear: both;
  padding: 0.5em 0.1em 1em 3em;
}


div.employer {

}

div.edu {

}
