---
title: null
# display_title: Think Big, Start Small
layout: page

test_title: Advancement of Strategic Objectives through a Culture of Rapid Iteration

links:
  github: http://github.com/samba


left_footer:
  - twitter

right_footer:
  - contact
  - norris

position: 100

permalink: /

header_haiku:
  - Building excellence,
  - Commit to always learning,
  - Pragmatism wins.

is_html: true
# no_menu: true

---

<section class='row'>
<div class='container'>


A blog of transformation toward agility in Strategy, Business Intelligence, Product Development, Infrastructure and Engineering; through DevOps and the principles of Continuous Delivery, Entrepreneurial thinking and the will to innovate. Some technical discussion involved, in regard to specific technologies, workflows, databases, tools, and the market and organizational context in which they can be best applied.


</div>
</section>


<section class='row'>
<div class='container flex'>
<div class='blog col-2-3 material'>
<h2>Recent Reflections</h2>
	{% for post in site.posts limit:3 %}

		<article class='post card'>
			<div class='card-header'>
				<h3><a href="{{post.url}}">{{ post.title }}</a></h3>
			</div>
			<div class='card-body post-excerpt'>
				{{ post.excerpt | remove: "<p>" | remove: "</p>" | truncatewords: 100 }}
			</div>
			<div class='card-action'>
				<a href="{{ post.permalink |default: post.url }}">Continue Reading</a>
			</div>
		</article>

	{% endfor %}
</div>
<div class='twitter col-1-3'>
{% include twitter_widget.html %}
</div>
</div>
</section>

