
<aside id='chucknorris' class='inset left'>
<h4>Chuck Norris <i>(for nerds)</i></h4>
<blockquote class='joke hidden border-dark'>
Chuck Norris can slam revolving doors.
</blockquote>
<br/>
- <a href='http://www.icndb.com/'><i>The Internet Chuck Norris Database</i></a>
</aside>


<script>
(function($){

	var updated = false;

	if(true) $.ajax({
		method: 'get',
		url: 'http://api.icndb.com/jokes/random?exclude=[explicit]&limitTo=[nerdy]',
		success: function(data){
			var joke = data.value.joke;
			if(!updated) $(document).ready(function(){
				var node = $('#chucknorris .joke');
				node[0].innerHTML = (joke);
				node.removeClass('hidden');
				updated = true;
			});
		}
	});

	setTimeout(function(){
		if(!updated){
			$('#chucknorris .joke').removeClass('hidden');
			updated = true;
		}
	}, 1000);

}(window.jQuery));
</script>
