<!-- footer -->


<footer class='page-footer grey darken-2'>



  <div class='container'>
  <hr class='print-only'/>
  <div class='row'>

    {% if include.mode == 'post' %}
    {% assign left_footer = 'related'|split:" " %}
        {% assign right_footer = 'recent'|split:" " %}
    {% else %}
        {% assign left_footer = 'recent'|split:" " %}
        {% assign right_footer = 'contact'|split:" " %}
    {% endif %}

    {% assign left_footer = page.left_footer|default:left_footer %}
    {% assign right_footer = page.right_footer|default:right_footer %}

    {% if page.twitter_feed.placement == 'footer' %}
        {% assign right_footer = 'twitter'|split:" " %}
    {% endif %}


    <div class='col l6 m12 s12'>
    {% for item in left_footer %}
    {% if item == 'related' %}
        {% include related.html limit=8  omit_excerpt=true %}
    {% elsif item == 'recent' %}
        {% include recent.html limit=8  omit_excerpt=true omit_tags=true %}
    {% elsif item == 'twitter' %}
        {% include twitter_widget.html %}
    {% elsif item == 'contact' %}
        {% include contact.html %}
    {% elsif item == 'norris' %}
        {% include chucknorris.html %}
    {% endif %}
    {% endfor %}
    </div>

    <div class='col l6 m12 s12'>
    {% for item in right_footer %}
    {% if item == 'related' %}
        {% include related.html limit=8  omit_excerpt=true %}
    {% elsif item == 'recent' %}
        {% include recent.html limit=8  omit_excerpt=true omit_tags=true %}
    {% elsif item == 'twitter' %}
        {% include twitter_widget.html %}
    {% elsif item == 'contact' %}
        {% include contact.html %}
    {% elsif item == 'norris' %}
        {% include chucknorris.html %}
    {% endif %}
    {% endfor %}
    </div>

    </div>
    <!-- another row could be inserted here. -->
    </div>



    <div class="footer-copyright grey darken-3">
        <div class='container'>

        <div>
            <div class='print-only'>
            Retrieved from &lt;{{site.url}}{{page.url}}&gt;.
            <!-- last updated {{page.date|default:site.time|date:"%d. %b %Y"}}. -->
            </div>

            &copy; {{site.github.owner_name|default: site.author.name}}
            {{page.date|default:site.time|date:"%Y"}}. All Rights Reserved.

        </div>


        </div>
    </div>



</footer>
