
<!-- footer -->
<footer class='page-footer grey darken-2'>


    <div class="footer-copyright grey darken-3">
        <div class='container'>
        <!-- <hr class='print-only'/> -->
        <div>
            <span class='print-only'>
            Retrieved from &lt;{{site.url}}{{page.url}}&gt;.
            <!-- last updated {{page.date|default:site.time|date:"%d. %b %Y"}}. -->
            </span>

            &copy; {{site.github.owner_name|default: site.author.name}}
            {{page.date|default:site.time|date:"%Y"}}. All Rights Reserved.

        </div>


        </div>
    </div>



</footer>
