<!-- footer -->


<footer class='page-footer grey darken-2'>



  <div class='container'>
  <hr class='print-only'/>
  <div class='row'>

    {% if include.mode == 'post' %}
        {% assign left_footer = 'related' %}
        {% assign right_footer = 'recent' %}
    {% else %}
        {% assign left_footer = 'recent' %}
        {% assign right_footer = 'contact' %}
    {% endif %}

    {% assign left_footer = page.left_footer|default:left_footer %}
    {% assign right_footer = page.right_footer|default:right_footer %}

    {% if page.twitter_feed.placement == 'footer' %}
        {% assign right_footer = 'twitter' %}
    {% endif %}


    <div class='col l6 m12 s12'>
    {% if left_footer == 'related' %}
        {% include related.html limit=10  omit_excerpt=true %}
    {% elsif left_footer == 'recent' %}
        {% include recent.html limit=10  omit_excerpt=true omit_tags=true %}
    {% elsif left_footer == 'twitter' %}
        {% include twitter_widget.html %}
    {% endif %}
    </div>

    <div class='col l6 m12 s12'>

    {% if right_footer == 'related' %}
        {% include related.html limit=10  omit_excerpt=true %}
    {% elsif right_footer == 'recent' %}
        {% include recent.html limit=10  omit_excerpt=true omit_tags=true %}
    {% elsif right_footer == 'twitter' %}
        {% include twitter_widget.html %}
    {% elsif right_footer == 'contact' %}
        {% include contact.html %}
    {% endif %}
    </div>

    </div>
    </div>


    <div class="footer-copyright grey darken-3">
        <div class='container'>

        <div>
            <div class='print-only'>
            Retrieved from &lt;{{site.url}}{{page.url}}&gt;.
            <!-- last updated {{page.date|default:site.time|date:"%d. %b %Y"}}. -->
            </div>

            &copy; {{site.github.owner_name|default: site.author.name}}
            {{page.date|default:site.time|date:"%Y"}}. All Rights Reserved.

        </div>
        </div>
    </div>



</footer>