<!-- header -->

<div class='masthead valign-wrapper'>
<div class='container valign'>
<div class='row '>

{% assign header_width = 'l12 m12 s12' %}
{% if page.header_haiku %}
{% assign header_width = 'l8 m12 s12' %}
{% endif %}

<h1 id='pagetitle-header' class='col {{header_width}}'>{{ page.display_title_override|default:page.title }}</h1>

{% if page.subtitle %}
<div class='subtitle'>{{ page.subtitle }}</div>
{% endif %}

{% if page.header_haiku %}
<aside class='header haiku light col l4 m12 s12 right'>
<blockquote class='border-light'>{{ page.header_haiku |join:"<br/>" }}</blockquote>
</aside>
{% endif %}


</div>
</div>
</div>