<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="copyright" content="Copyright {{site.github.owner_name|default: site.author.name}} {{page.date|default:site.time|date:"%Y"}}. All Rights Reserved."/>
<link rel='canonical' href='{{site.url}}{{page.permalink}}'/>
<link rel='me' href="https://twitter.com/{{site.twitter.username}}"/>
<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico?'/>
{% seo %}
