<!-- nav -->

{% capture tag_list_text %}
{% for t in site.tags %}{{ t[0] }}{% unless forloop.last %},$${% endunless %}{% endfor %}
{% endcapture %}

{% assign tag_list = tag_list_text | lstrip | rstrip | split:",$$" | sort %}

<section class="site pages">
<ul class='pages'>

<!--
<li class="page">
	<a class="page" href="{{ site.url }}">
		{{ site.name }}
	</a>
</li>
-->

{% assign pagelist = (site.pages | where: "layout", "page" | sort: "position") %}
{% for page in pagelist reversed %}
	{% unless (page.hidden or page.no_menu or (page.url == site.url)) %}
	<li class="page" data-page-position="{{page.position}}">
		<a class="page" href="{{ page.permalink |default:page.url }}">
			{{ page.menu_title |default: page.title |default: site.name}}
		</a>
	</li>
	{% endunless %}
{% endfor %}
</ul>
</section>


<section class='blog tags'>
<em>Topics</em>
<ul class="tags">
	{% for item in site.data.nav.topics %}
		<li class="tag">
		<a href="/blog/#{{item|slugify}}">{{ item }}</a>
		</li>
	{% endfor %}

	<li>
	<a href="/blog/#all"><em>All Topics</em></a>
	</li>
</ul>
</section>


{% for key in site.data.nav.menus %}
{% assign menu_slug = key[0] | slugify %}
<section class='links'>
<em>{{ key[0] }}</em>
<ul class="links {{ menu_slug }}">
	{% for item in key[1] %}
	<li class='link'>
		<a class='link'
			href="{{item.url}}"
			{% if item.target == 'new' %} target="_blank" {% endif %}
			>{{ item.name }}</a>
	</li>
	{% endfor %}
</ul>
</section>
{% endfor %}

<!-- end nav -->