<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/social-feed/0.1.2/css/jquery.socialfeed.min.css'/>
<script src='https://cdnjs.cloudflare.com/ajax/libs/social-feed/0.1.2/js/jquery.socialfeed.min.js'></script>

<script>
	// Twitter application (consumer) keys via https://apps.twitter.com/app/new
	function loadTwitterFeed(selector, limit){
		jQuery(selector || '.social-feed-container').socialfeed({
			twitter: {
				accounts: [ '@{{site.twitter_feed.username}}' ],
				limit: (limit || 5),
				consumer_key: "{{site.twitter_feed.consumer_key}}",
				consumer_secret: "{{site.twitter_feed.consumer_secret}}"
			}
		});
	}

</script>


