

/** Fonts selected
https://www.google.com/fonts#UsePlace:use/Collection:Merriweather:400,700italic,700,400italic|Merriweather+Sans:400,700italic,700,400italic
- Merriweather
- Merriweather Sans
*/

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Ubuntu+Mono");
@import url("http://fonts.googleapis.com/css?family=Merriweather:400,700italic,700,400italic|Merriweather+Sans:400,700italic,700,400italic");


// Our variables

$base-font-family: "Merriweather", serif;
$base-font-size:   16px;
$base-font-weight: 400;

$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$font-family-monospace: "Roboto Mono", "Ubuntu Mono", "Consolas", "Andale Mono", "monaco", monospace;


$spacing-unit:     30px;

$text-color:       #111;
$text-color-light: white;


$brand-color:      rgb(80, 170, 215);
$brand-color-shade:lighten($brand-color, 30%);
$brand-color-light:lighten($brand-color, 40%);
$brand-color-dark: darken($brand-color, 10%);

$background-dark:  darken($brand-color, 20%);
$background-color: #fdfdfd;
$background-primary: transparent;



$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    860px;

$on-palm:          600px;
$on-laptop:        800px;
$small:			   920px;


$header-band-height: 4em;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


@mixin inset($depth: 1em, $radius: 0.25em) {
	border: {
		style: solid;
		radius: $radius;
		color: rgba(0, 0, 0, 0.25);
		width: 1px;
	}

	box-shadow: ($depth/30) ($depth/30) ($depth/3) 0em rgba(0, 0, 0, 0.25) inset;

	padding: ($radius);

}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
