
$material-standout-color: $brand-color-dark;
$material-border-color: $brand-color-dark;
$material-card-radius: 0.25em;
$material-card-depth: 1em;

@mixin framed($depth: 1em, $radius: 0.5em, $padding: 0.5em) {
	$distance: ($depth /3);

	border: {
		style: solid;
		radius: $radius;
		color: $material-border-color;
		width: 1px;
	}

	box-shadow: $distance $distance $distance 0em $brand-color-shade;

	padding: ($padding);
	margin: ($padding);
}

@mixin inlineheader {
	h1, h2, h3, h4, h5, h6 {
		display: inline-block;
		margin: 0;
		float: left;
		clear: left;

		& + i.fa {
			display: inline-block;
			font-size: 1.5rem;
			float: right;
		}

	}
}


.material {

	.card {
		@include framed($material-card-depth, $material-card-radius, 0);

		margin: {
			top: 0.5em;
			left: 0.5em;
			bottom: 1em;
			right: 0.5em;
		}

		.card-header, .card-body, .card-meta, .card-action {
			margin: 0;
			padding: 0.5em;
		}



		.card-header {
			background-color: $material-standout-color;
			// color: $text-color-light;
			border-bottom: 0px $material-border-color solid;
			border: {
				top-left-radius: ($material-card-radius * 0.8);
				top-right-radius: ($material-card-radius * 0.8);
			}

			@extend %clearfix;
			@include inlineheader;


			a {
				color: $brand-color-light;
			}
		}


		 &.link {
		 	padding: 0.25em;
		 	.card-header {
		 		border-width: 0;
		 		h1, h2, h3, h4, h5, h6 {
		 			margin: 0;
		 		}
		 	}
		 	.card-header, .card-body, .card-action, .card-meta {
		 		padding-top: 0;
		 		padding-bottom: 0;
		 	}
		 }

		.card-body, .card-meta {
			border-bottom: 0;
			border-top: 0;
		}

		.card-action {
			border-top: 1px $material-border-color solid;
		}

	}


	.article {
		@include framed(1em, 0, 0);
		margin: 1em;

		.article-header, .article-body, .article-action, .article-meta {
			margin: 0;
			padding: 0.5em;
		}

		.article-header {
			border-bottom: 1px $material-border-color solid;
			vertical-align: middle;
			@extend %clearfix;
			@include inlineheader;


		}

		&.link {
			padding: 0.25em;
			.article-header {
				border-width: 0;
				h1, h2, h3, h4, h5, h6 {
					margin: 0;
				}
			}
			.article-header, .article-body, .article-action, .article-meta {
				padding-top: 0;
				padding-bottom: 0;
			}
		}

		.article-meta {
			color: $grey-color;
		}

		.article-body {

		}

		.article-action {
			border-top: 1px $material-border-color solid;
		}
	}

}