$base-font-weight: 400;
$base-font-size:   16px;
$base-font-family: "Merriweather", serif;
$base-line-height: 1.5;
$background-color: white; /* rgba(0, 0, 0, 0.75); */
$small-font-size:  $base-font-size * 0.875;
$spacing-unit:     30px;
$brand-color:      /* #2a7ae2; */  #003153;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$content-width:    960px;

$text-color: rgba(0, 0, 0, 1);
$text-subtle-color: rgba(0, 0, 0, 0.75);
$text-subtle-color-light: rgba(200, 200, 200, 0.60);
$tag-color: rgba(120, 120, 120, 0.75);
$tag-color-text: white;
$category-color: rgba(50, 50, 120, 0.75);
$tag-font-size: 0.8em;
$link-color-dark: rgba(70, 70, 70, 1);
$link-color-light: rgba(220, 220, 220, 1);
$link-color-intext: #039be5;
$background-color-shade: rgba(220, 220, 220, 0.75);
$background-color-shade-dark: rgba(0, 0, 0, 0.75);

$section-font-color-dark: #303030;
$section-font-color-light: #AAAAAA;
$section-background-dark: #101010; /* rgba(0, 0, 0, 0.8); */
$section-background-light: white;

$prussian-blue: #003153;  /* rgb(0, 49, 83) */
$midnight-blue: #191970;
$dark-midnight-blue: #003366;


$on-palm:          900px;
$on-laptop:        960px;

/** Fonts selected
https://www.google.com/fonts#UsePlace:use/Collection:Merriweather:400,700italic,700,400italic|Merriweather+Sans:400,700italic,700,400italic
- Merriweather
- Merriweather Sans
*/

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700italic,700,400italic|Merriweather+Sans:400,700italic,700,400italic);


@mixin subtle-text($shade: 'dark') {

	color: if($shade == 'light', $text-subtle-color-light, $text-subtle-color);

	&.dark {
		color: $text-subtle-color;
	}

	&.light {
		color: $text-subtle-color-light;
	}

	font: {
		size: 0.9em;
	}
}


@mixin blockquote-border {
	blockquote {
		margin: 0em;
		padding: 0 0 0 1.5em;
		border: {
			style: solid;
			color: black;
			width: 0 0 0 0.3em;
		}

		&.inset {
			margin: 2em;
		}

		&.border-light {
			border-color: $background-color-shade;
		}

		&.border-dark {
			border-color: $background-color-shade-dark;
		}
	}
}

@mixin inset($depth: 1em, $radius: 0.25em) {
	border: {
		style: solid;
		radius: $radius;
		color: rgba(0, 0, 0, 0.25);
		width: 1px;
	}

	box-shadow: ($depth/30) ($depth/30) ($depth/3) 0em rgba(0, 0, 0, 0.25) inset;

	padding: ($radius);

}

@mixin transparent {
	background-color: transparent;
}


@mixin tag {
	display: inline-block;
	background-color: $tag-color;
	color: $tag-color-text;
	/* text-shadow: 0.1em 0.1em 0.1em rgba(255, 255, 255, 0.5); */
	box-shadow: 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.25);
	border: {
		radius: 0.25em;
	}
	padding: {
		left:  0.3em;
		right: 0.3em;
		top: 0.25em;
		bottom: 0.25em;
	}
	margin: 0.25em;

	font: {
		family: 'Merriweather Sans', sans-serif;
		weight: 200;
		size: $tag-font-size;
	}

}

@mixin category {
	@include tag;
	background-color: $category-color;
}


@mixin standard-list($style: initial, $position: outside) {
	padding: 0 0 0 2em;
	list-style-position: $position;
	li {
		list-style-type: $style;
	}
}


@mixin list-float {
	display: inline-list-item;
	float: left;
	clear: none;
	margin-right: 2em;
}

@mixin list-vertical {
	display: list-item;
}

@mixin sane-headers {

	h1 { font-size: 2.5rem !important; }
	h2 { font-size: 2rem !important; }
	h3 { font-size: 1.75rem !important; }
	h4 { font-size: 1.3rem !important; }
	h5 { font-size: 1.2rem !important; }
	h6 { font-size: 1.15rem !important; }
}

@mixin zebra {

	.stripe {

		&:nth-child(odd) {
			background-color: $section-background-light;
			color: $section-font-color-dark;

		}

		&:nth-child(even) {
			background-color: $section-background-dark;
			color: $section-font-color-light;
		}
	}

}


@media all {

	@include sane-headers;

	html, body, body p, body .haiku, body li, header, article, section {
		font-family: 'Merriweather Sans', sans-serif;
	}

	body {
		h1, h2, h3, h4, h5, h6 {
			font-family: 'Merriweather', serif;
		}

		.hidden {
			display: none !important;
		}

		.nowrap {
			white-space: nowrap !important;
			text-wrap: nowrap !important;
			overflow: hidden;
		}

		.italic {
			font-style: italic;
		}
	}

	article ul, ul.standard {
		@include standard-list(disc);
	}


	div.postmeta, div.subtitle, div.subtle {
		@include subtle-text;
		display: inline-block;
		margin: 0.25em 2em 0.25em 0.25em;
	}

	div.masthead {
		div.subtitle, div.subtle {
			@include subtle-text('light');
		}
	}

	nav a {
		text-transform: uppercase;
	}


	nav ul.dropdown-content {
		min-width: 15em;
	}

	.haiku {
		@include subtle-text;
		@include blockquote-border;
	}

	footer {
		@include blockquote-border;


		h1 { font-size: 2rem; }
		h2 { font-size: 1.75rem; }
		h3 { font-size: 1.5rem; }
		h4 { font-size: 1.3rem; }
		h5 { font-size: 1.2rem; }
		h6 { font-size: 1.15rem; }

		a {
			color: $link-color-dark;
		}
	}

	header {

		h1 {
			margin: {
				top: 0;
				left: 0;
				bottom: 0.5rem;
				right: 0;
			}
		}

		margin: {
			top: 0;
			left: 0;
			right: 0;
			bottom: 1em;
		}
	}


	figure.highlight {
		@include inset;
		pre {
			margin: {
				top: 0;
				bottom: 0;
				left: 0.5em;
				right: 0.5em;
			}

			@include transparent;
		}
	}

	div.highlighter-rouge {


		@include inset;

		pre.highlight {
			margin: {
				top: 0;
				bottom: 0;
				left: 0.5em;
				right: 0.5em;
			}

			@include transparent;
		}

	}

	div.card-content {
		h3.card-title.inline {
			line-height: 1em;
			margin: {
				top: 0.25em;
				bottom: 0.25em;
			}
		}
		p {
			margin-top: 0.5em !important;
		}
	}

	span.date {
		white-space: nowrap;
	}

	span.category {
		@include category;
	}

	span.tag {
		@include tag;
	}

	article a {
		text-decoration: underline;
	}

	article.row section.container {

		h1, h2, h3, h4 {
			font-style: italic;
			margin: 0.5rem;
		}

		padding: {
			top: 0.25rem;
			bottom: 0.5rem;
		}
	}

}

@media screen {

	.print-only {
		display: none;
	}


	footer aside.recent.posts, footer aside.related.posts, footer aside.contact {


		li a {
			color: $link-color-light;
		}

		li.postlink {
			div.taglist {
				display: inline-block;
			}

			span.date {
				color: $text-subtle-color-light;
			}

		}

	}


	div.zebra {
		@include zebra;

		article.stripe {
			padding-top: 1em;
			padding-bottom: 1em;
		}
	}


	aside, h1, h2, h3, h4, h5, h6  {
		&.inline {
			display: inline-block;
		}
	}

	article a {
		text-decoration: none;
		border: {
			width: 0 0 0.1em 0;
			style: dotted;
			color: $link-color-intext;
		}
	}

	/* BEGIN sticky footer (a la Materialize) */
	body {
	  display: flex;
	  min-height: 100vh;
	  flex-direction: column;
	}

	main, body {
	  flex: 1 0 auto;
	}
	/* END sticky footer */


	header div.masthead {
		height: 30em;
		max-height: 300px;

		/* lt ie8 */
		-ms-background-position-x: center;
		-ms-background-position-y: bottom;
		/* ie8 workaround - http://louisremi.github.io/background-size-polyfill/ */
		-ms-behavior: url('/assets/shim/backgroundsize.min.htc');

		background: {
			color: black;
			image: url('/assets/img/header_seattle.jpg');
			position: center top;
			origin: border-box;
			size: cover, 100% auto;
			/* size: contain; */
			repeat: no-repeat;
			attachment: local;
		}



		h1 {
			display: inline-block;
			font-size: 3rem;
			color: white;
		}

		div.container.middle {
			position: relative;
			top: 40%;
		}

	}

}


@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    /* Retina-specific stuff here */
}

/* 1.25 dpr */
@media
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi){
    /* Retina-specific stuff here */


}

/* 1.3 dpr */
@media
(-webkit-min-device-pixel-ratio: 1.3),
(min-resolution: 124.8dpi){
    /* Retina-specific stuff here */
}

/* 1.5 dpr */
@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi){
    /* Retina-specific stuff here */
}


@media (max-height: 1000px){
    header div.masthead {
    	max-height: 600px;
    	height: 300px;
    	font-size: 100%;
    }
}



@media (min-height: 1000px){
    header div.masthead {
    	max-height: 600px;
    	height: 600px;
    	font-size: 150%;
    }
}


@media (min-width: 992px){
	/* Desktop environments */

	header div.masthead {
		background-size: cover;
	}

}


@mixin fix-materialize-menu {
	nav ul.side-nav {
		/* Fix font issues in menu for Materialize <= 0.97.1;
		   This is resolved in subsequent releases, however the navigation is
		   screwed up due to an event handling change. Reverted to support
		   functional navigation, patching to resolve styling. */

		a {
			line-height: inherit;
		}

	}
}



@media (max-width: 992px){
	/* Tablet and smaller */

	@include fix-materialize-menu;

	footer aside {
		margin-bottom: 2em;
	}

	aside.contact ul li {
		@include list-float;
	}
}


@media (max-width: 660px), (orientation: portait){
	/* Tiny phones, etc */

	nav a.brand-logo {
		font-size: 1.15rem;
		margin-left: 1em;
	}

	aside.contact ul li {
		@include list-vertical;
	}
}

@media print {

	body, p, article, div {
		font-size: 1rem;
	}


	a[href] {
		text-decoration: underline;
	}

	a[title]::before {
		content: attr(title) ": ";
	}

	a[href]::after {
		content:" <" attr(href) "> ";
		text-decoration: none;
		font-weight: normal;
		/* color: rgba(100, 100, 100, 0.8); */
	}

	nav, iframe, a.twitter-timeline, a.twitter-share-button {
		display: none;
	}

	span.tag, span.category {
		background: none;
		border-style: none;
		text-decoration: underline;
		color: black;
		box-shadow: none
	}

	.haiku {
		@include subtle-text('dark');
	}

	header div.masthead,
	footer.page-footer,
	div.footer-copyright,
	footer aside, footer aside a {
		background: none !important;
		color: black !important;
	}

	div.footer-copyright {
		height: auto !important;
	}
}


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
