
$tag-shadow: 0.1em 0.1em 0.15em rgba(0, 0, 0, 0.25);

header {
	background: url("/assets/img/underwater_header.jpg") 20% center/20% no-repeat fixed;
	background-size: cover;
	// padding-top: 1em;
	// padding-bottom: 1em;
	color: $text-color-light;

	@media print {
		color: $text-color;
	}

}


div#content, div.meta {
	padding-top: 0.1em;

	.container {
		@include media-query($small){
			padding: 0.5em;
		}
	}
}

div#content {
	padding-bottom: 1em;

	@include media-query($on-laptop){
		div.container, article.container {
			padding-left: 0.5em;
			padding-right: 0.5em;
		}
	}
}



div.meta {
	margin: {
		top: 0.25rem;
		bottom: 0.25rem;
	}
	font-style: italic;
	color: $grey-color;
}

span.tag {
	display: inline-block;
	color: $brand-color-light;
	background-color: $brand-color-dark;
	box-shadow: $tag-shadow;
	font-size: $small-font-size;
	font-family: $font-family-monospace;
	font-style: normal;
	border: {
		radius: 0.25em;
	}
	padding: {
		left:  0.25em;
		right: 0.25em;
		top: 0.1em;
		bottom: 0.1em;
	}
	margin: 0 0.25em 0.25em 0;

	@media print {
		color: $grey-color;
		background-color: $grey-color-light;
	}
}

p a {
	// margin-left: 0.25em;
}

iframe[src*="kontactr"] {
	// @include inset;
	width: 30em !important;
	height: 35em !important;
	overflow-x: auto;
	overflow-y: auto;
}

iframe.flex {
	height: 100%;
	width: 100%;
}

div.twitter-widget {
	@extend %clearfix;
}

iframe.twitter-timeline {
	min-height: 30em;
	// min-height: 100%;

}

.no-mobile {
	@include media-query($on-laptop){
		display: none !important;
	}
}


nav a i.fa {
	position: relative;
	top: -0.2rem;
	font-size: 0.9rem;

	&.icon-dimmed {
		opacity: 0.5;
		margin-right: 0.3rem;
	}
}



em#copyright {
	font-size: 0.7rem;
}

code.highlighter-rouge {
	color: #992222;
	background-color: #FFEFEF;
}

pre.highlight, .highlighter-rouge .highlight {

	@include inset();

	&,
	& code {
		font-family: $font-family-monospace;
		background-color: transparent;
		background: transparent;
	}

	padding: 1rem;
	width: ($content-width - 16px);

	@include media-query($small){
		width: 100%;
	}

}
