---
title: Blog
# subtitle: "Literally everying here posted as a dated publication."
layout: page
permalink: /blog/
no_menu: true
position: 2
is_html: true
hide_meta: true
detailed_post_limit: 2

---
<div class='container'>

<div class='post-listing material'>



{% for post in site.posts limit:page.detailed_post_limit %}
	<article class='post card'>
		<div class='card-header'>
			<a href="{{ post.permalink |default: post.url }}">
			<h3>{{ post.title }}</h3>
			</a>
		</div>


		<div class='card-meta meta'>
			<span class='date'>{{ post.date |date:"%d. %b %Y" }}</span>
			<aside class='inline'>
			{% for tag in post.tags %}
				<span class='tag'>{{ tag }}</span>
			{% endfor %}
			</aside>
		</div>

		<div class='card-body'>
			{{ post.excerpt }}
		</div>
		<div class='card-action'>
			<a href="{{ post.permalink |default: post.url }}">Continue Reading</a>
		</div>
	</article>
{% endfor %}

{% for post in site.posts offset:page.detailed_post_limit limit:500 %}
	<article class='post card'>
		<div class='card-header link'>
		<a href="{{ post.permalink |default: post.url }}">
			<h3>{{ post.title }}</h3>
			<i class="fa fa-arrow-right fa-2x"></i>
		</a>
		</div>

		<div class='card-meta meta hidden'>
			<span class='date'>{{ post.date |date:"%d. %b %Y" }}</span>
			<aside class='inline'>
			{% for tag in post.tags %}
				<span class='tag'>{{ tag }}</span>
			{% endfor %}
			</aside>
		</div>

	</article>
{% endfor %}




<script>
window.thisIsABlog();
</script>


</div>
</div>
