---
layout: null
permalink: /pirate.html
redirect_from:
  - /assets/pirate.html


title: Pirate Playground
---

<html>
  <head>

    {% include meta.html %}
    <meta name="robots" content="noindex">
    <script src='/js/pirate.js'></script>
    <link rel='stylesheet' href='/stylesheet/grid.css'/>
    {% include assets.html %}
    <style>
    body {
      margin: 2em;
    }

    #demo fieldset {
      border: 1px dashed red;
    }

    #demo fieldset input[type=text] {
      font-size: 1rem;
    }

    </style>

  </head>
  <body data-environment='testkit'>

    <div class='container' id='content'>
    <h1>Pirate playground</h1>

    <div id='demo'>
    <fieldset>
      <legend>Demo zone</legend>
      <div class='column left col-1-2'>
        <input type='text' value='Test area.'></input>
      </div>

      <div class='column col-1-2' data-subject-area='lists'>
        <a class='link' data-interaction='navigation' href="javascript:void(0)">Link</a>
      </div>
    </fieldset>
    </div>


    <div id='usage' class='row'>
      <article>
      <h2>Usage</h2>
      <p>This page shows example structure for defining <code>data-</code> attributes.</p>

      <p>
        Requirements:
        <ol>
          <li>The content of <a href='/js/pirate.js'><code>pirate.js</code></a> must be loaded <em>after</em> Google Tag Manager. Including it as a custom Javascript within GTM is sufficient.</li>
          <li>Data attributes (<code>data-</code> prefix) must be added to elements of interest in the page.</li>
          <li>Click triggers and (most importantly) variables <code>Click Element</code> and <code>Form Element</code> must be activiated in Tag Manager.</li>
          <li>Variables within Tag Manager must be configured to access related properties within the datalayer.</li>
          <li>Triggers within Google Tag Manager must be configured with conditions related to those data attributes.</li>

        </ol>
      </p>

      <h2>Example</h2>
      <p>

      Given the page structure:


{% highlight html %}
<div data-context='product'>
  <ul data-product-category='loot'>
    <li data-product-action='click'>
      <a href='/product/loot/12345'>View Details</a>
    </li>
  </ul>
</div>
{% endhighlight %}


      A click on the link will produce the following event in GTM's DataLayer:

{% highlight javascript %}
window.dataLayer.push({
  'event': 'gtm.click',
  'gtm.element': (linkElementClicked),
  'pirate': { // all inherited attributes reside here
    'productAction': 'click',
    'productCategory': 'loot',
    'context': 'product'
  }
});
{% endhighlight %}


      The kit intercepts all events to Google Tag Manager, and when <code>gtm.element</code> is provided, collects data attributes (inherited from parent elements) as properties on the event object, for use in Google Tag Manager variables.
      </p>
      <p>
      Note that the inherited properties are provided in the <code>pirate</code> sub-object
      within each <code>dataLayer.push</code>; this ensures that the properties of that element
      do not persist into subsequent events.

      To enable persistent properties, see the <code>pirate.moor</code> function below.
      </p>
      <p>
      The kit also adds new event types for fine-grained interaction observers:

      <ul>
      <li><code>focus</code> and <code>blur</code> events on the main window, as well as form fields.</li>
      <li><code>scroll</code> events on the main window.</li>
      <li><code>touchstart</code> and <code>mousedown</code> for when <code>click</code> is too late.</li>
      <li>... and several others.</li>
      </ul>


      If needed, additional event types can be added to the listening environment:

{% highlight javascript %}
window.pirate.config.EVENTS.BODY.push('mouseup');
{% endhighlight %}


      </p>


      <h2>Utility Methods</h2>
      <p>
      This framework also provides a global interface <code>pirate</code>.

{% highlight javascript %}
/** Enable debug logging to console */
window.pirate.yellow();


/** Register a handler method for DOM event listening, filtered by Regular Expression
 * param {RegExp} filterExpressionOptional default null
 * param {function(this: DOMElement, DOMEvent)} eventHandlerMethod
 */
window.pirate.gangway(
  /eventNameExpr/i,
  function(/* DOMEvent */ event){
    // this: the DOM element producing the event
    // ... do something with the element + event.
  });


/** Retrieve the inherited data context of a specific element.
 * Converts hyphenated names to camel case, e.g. "data-test-value" => "testValue"
 * param {DOMElement} element
 * return {Object}
 */
window.pirate.pillage(element); // => Object

/** Retrieve the inherited data context from one or more elements matching a CSS selector.
 * Like `pillage` above, but evaluates the CSS selector, then pillages each matching element.
 * param {String} cssSelectorExpression
 * return {Array.<Object>}
 */
window.pirate.hornswaggle('li a.download'); // => [Object, Object...]


/** Persist the properties of a particular element to the DataLayer
 * param {String} cssSelectorExpression
 */
window.pirate.moor('body.post article[data-author] section');

{% endhighlight %}

      </p>

      </article>
    </div>



  </body>
</html>

