---
exclude_author: true
exclude_meta: false
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		{% include meta.html %}
		{% include assets.html %}

		<script>
		window.page_meta = {
			"author": {{page.author |default:site.author.name | jsonify}},
			"published": {{page.date |default:site.time |date_to_xmlschema | jsonify}}

		};

		{{ page.header_content.script|default:"/* no page script */" }}
		</script>

		<style>
		{{ page.header_content.style|default: "/* no page style */" }}
		</style>

	</head>

	{% capture body_tags %}
	{% for elem in page.body_data %}
		data-{{elem[0]}}="{{elem[1]}}"
	{% endfor %}
	{% endcapture %}

	<body {{ body_tags }}>

		<input type="checkbox" class="nav-checkbox" id="nav-checkbox">

		<div class='navigation sidebar'>
		<nav>
			{% include nav.html %}
			{% comment %}{% include twitter_widget.html %}{% endcomment %}
			{% include contact.html %}
			<section>
			<em id='copyright'>
			&copy; {{page.date|default:site.time|date:"%Y"}}. All Rights Reserved.
			</em>
			</section>
		</nav>
		</div>

		<div id='bodywrapper'>

			<header class='alone'>
				<div class='container'>
				<h3>{{page.display_title |default:page.title | default:site.name}}</h3>
				<small>
					{{page.subtitle | default:site.subtitle }}
				</small>
				</div>
			</header>

			{% unless (page.hide_meta) %}
			<div class='row meta'>
				<div class='container'>
				Published {{page.date |default:site.time | date: "%d. %b %Y" }}
				by {{page.author |default:site.author.name }}.

				{% unless (page.hide_tags and (page.hide_tags != blank)) %}
				<aside class='inline tags'>
				{% for tag in page.tags %}
					<span class='tag'>{{ tag }}</span>
				{% endfor %}
				</aside>
				{% endunless %}


				{% unless (page.dont_tweet and (page.dont_tweet != blank)) %}
				<aside class=''>
				{% include twitter_tweetbutton.html top_offset='0.5em' %}
				</aside>
				{% endunless %}

				</div>
			</div>
			{% endunless %}

			<div id="content" class='row'>
			{% unless (page.is_html and (page.is_html != blank)) %}
				<articlec class='container'>
				{{ content | strip | markdownify }}
				</article>
			{% else %}
				{{ content | strip_newlines }}
			{% endunless %}
			</div>


			{% include footer.html %}
		</div>

		<!-- navigation sidebar control (activator) -->
		<label for="nav-checkbox" class="nav-toggle">
		<i class="fa fa-bars" aria-hidden="true"></i>
		</label>

	</body>

</html>
