<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>{{ page.title }}</title>
		
		<link rel='stylesheet' href='/stylesheet/main.css'/>
    {% if page.stlye %}
    <link rel='stylesheet' href='/stylesheet/{{ page.style }}.css'/>
    {% endif %}
		<script src='/javascript/ga-loader.js'></script>
	</head>


	<body>
		<div id='header'>
			<h1>{{ page.title  }}</h1>
			<span class='subtitle'>{{ page.subtitle }}</span>
		</div>


    <div id='content'> {{ content }} <div class='push'></div></div>




    <div id='footer' class='metablock'>
      <ul id='contact'>
        <li>Contact me:
        <li><a href='http://www.linkedin.com/in/sambriesemeister'>linkedin</a>
        <li><a href='http://twitter.com/system_samurai/'>twitter</a>
        <li><a href='http://github.com/samba/'>github</a>
      </ul>
		</div>

	</body>

</html>
