<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		{% include meta.html %}
		{% include assets.html %}
	</head>


	<body>

		{% include header.html %}
		{% include nav.html %}


		<article id='post'>
			<header>
				<h1>{{ page.title }}</h1>

				<span class='postmeta'>
					Posted by <span class='author'>{{ page.author|site.github.owner_name }}</span>
					on <span class="timestamp">{{page.date|date:"%d. %b %Y"}}</span>
				</span>
			</header>
			{{ content }}
		</article>

		<aside>
		{% include related.html %}
		</aside>


		{% include footer.html %}

	</body>

</html>
