<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		{% include meta.html %}
		{% include assets.html %}
	</head>


	<body>


		<header class='site gray darken-4'>
		{% include header.html %}
		<div class='row navbar-fixed'>
			{% include nav.html mode='page' %}
		</div>
		</header>



		<div class='container'>


			<div class='row'>
				<article id='post' class='post content'>
					<header>
						<h1>{{ page.title }}</h1>

						<div class='postmeta'>
							Posted by <span class='author'>{{page.author|default:site.author.name}}</span>
							on <span class="timestamp">{{page.date|date:"%d. %b %Y"}}</span>
							under <span class='category'>{{page.categories|join:"/"}}</span>
							tagged:
							{% for tag in page.tags %}
								<span class='tag'>{{ tag }}</span>
							{% endfor %}
						</div>
					</header>
					{{ content | markdownify }}
				</article>
			</div>

		</div>





		{% include footer.html mode='post' %}
	</body>



</html>
